@charset "UTF-8";
h1, h2, h3, h4, h5 {
    font-family: 'Bevan', cursive;
}

#container {
    height: 100%;
}

#gifs {
    height: 100%;
}

#search-input {
    width: 200px;
}

hr {
    background-color: white;
}

footer {
    padding-top: 50px;
}
